MATOMO_CONFIG_DIR={{ matomo_config_dir }}
MATOMO_LOGS_DIR={{ matomo_logs_dir }}
MATOMO_PORT={{ matomo_port }}

MYSQL_DB_DIR={{ mysql_db_dir }}
MYSQL_ROOT_PASSWORD={{ lookup('env','MYSQL_ROOT_PASSWORD') }}
