[Unit]
Description=%i service with docker compose
Requires=docker.service
After=docker.service

[Service]
Restart=always
WorkingDirectory=/etc/docker/compose/%i
ExecStart={{ docker_compose }} up
ExecStop={{ docker_compose }} down -v

[Install]
WantedBy=multi-user.target
