server {

    server_name {{ nginx_server_name }};

    access_log /var/log/nginx/{{ nginx_server_name }}-access.log combined;
    error_log /var/log/nginx/{{ nginx_server_name }}-error.log warn;

    location / {
        proxy_pass http://localhost:{{ matomo_port }};
        include proxy_params;
        proxy_set_header X-Forwarded-Host $host;
    }

}
